<div class="container">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-md-6 col-xs-12 div-style">
      <div class="note">
        <p>Login</p>
      </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            id="email"
            placeholder="E-mailadres"
            formControlName="email"
            class="form-control text-box"
          />
          <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="help-block">
            <p id="email-invalid">Vul een geldig e-mail adres in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            placeholder="Wachtwoord"
            formControlName="password"
            class="form-control text-box"
          />
          <span
            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
            class="help-block"
          >
            <p id="password-invalid">Vul een geldig wachtwoord in!</p>
          </span>
        </div>
        <div class="form-group justify-content-center d-flex">
          <button id="submitbutton" [disabled]="!loginForm.valid" type="submit" class="btn button-submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
      </form>
      <p class="blockquote-footer">Nog geen account? Registreer <a routerLink="../register">hier</a>!</p>
    </div>
  </div>
</div>
