<div class="container">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-md-6 col-xs-12 div-style">
      <div class="note">
        <p>Wijzigen</p>
      </div>
      <form class="update-form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            formControlName="firstName"
            class="form-control text-box"
            id="firstName"
            placeholder="First name"
          />
          <div
            *ngIf="!updateForm.get('firstName').valid && updateForm.get('firstName').touched"
            class="invalid-feedback"
          >
            <!--<div *ngIf="f.firstName.errors.required">First Name is required</div>-->
            <p>Please enter a valid first name</p>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="lastName"
            class="form-control text-box"
            id="lastName"
            placeholder="Last name"
          />
          <div
            *ngIf="!updateForm.get('lastName').valid && updateForm.get('lastName').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid last name</p>
            <!--<div *ngIf="f.lastName.errors.required">Last Name is required</div>-->
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control text-box"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
          <div
            *ngIf="!updateForm.get('email').valid && updateForm.get('email').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid email address</p>
            <!--<div *ngIf="f.email.errors.required">Email is required</div>-->
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control text-box"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <div
            *ngIf="!updateForm.get('password').valid && updateForm.get('password').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid password</p>
            <!--<div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
          </div>
          <small class="form-text text-muted d-flex justify-content-center">Geef nieuw wachtwoord</small>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="street"
            placeholder="Straat"
            formControlName="street"
          />
          <div
            *ngIf="!updateForm.get('street').valid && updateForm.get('street').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid street</p>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="houseNumber"
            placeholder="Huisnummer"
            formControlName="houseNumber"
          />
          <div
            *ngIf="!updateForm.get('houseNumber').valid && updateForm.get('houseNumber').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid house number</p>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="postalCode"
            placeholder="Postcode"
            formControlName="postalCode"
          />
          <div
            *ngIf="!updateForm.get('postalCode').valid && updateForm.get('postalCode').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid postal code</p>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="city"
            placeholder="Woonplaats"
            formControlName="city"
          />
          <div
            *ngIf="!updateForm.get('city').valid && updateForm.get('city').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid city</p>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="country"
            placeholder="Land"
            formControlName="country"
          />
          <div
            *ngIf="!updateForm.get('country').valid && updateForm.get('country').touched"
            class="invalid-feedback"
          >
            <p>Please enter a valid country</p>
          </div>
        </div>
        <div class="form-group justify-content-center d-flex">
          <button type="submit" class="btn button-submit">Wijzig</button>
        </div>
      </form>
    </div>
  </div>
</div>
