.div-style {
  margin-top: 4rem;
  padding: 3rem;
  background: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
}
.text-box {
  border-radius: 1rem;
  margin-top: 1rem;
}
.button-submit {
  width: 50%;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #009fdf;
  color: white;
}
.main-label {
  margin: 1rem;
}

.note {
  text-align: center;
  height: 80px;
  //background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  color: #009fdf;
  border-bottom: 1px solid #009fdf;
  //font-weight: bold;
  font-size: 40px;
  line-height: 80px;
}

.register-form {
  margin: auto;
  width: 80%;
}

#invalid-prop {
  color: red;
}
