<div class="container">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-md-6 col-xs-12 div-style">
      <div class="note">
        <p>Register</p>
      </div>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            formControlName="firstName"
            class="form-control text-box"
            id="firstName"
            placeholder="Voornaam"
          />
          <span
            *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een achternaam in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="lastName"
            class="form-control text-box"
            id="lastName"
            placeholder="Achternaam"
          />
          <span
            *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een achternaam in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control text-box"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
          <span
            *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een geldig e-mail adres in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control text-box"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <span
            *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een geldig wachtwoord in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="date"
            placeholder="Verjaardag"
            class="form-control text-box"
            id="birthDay"
            formControlName="birthDay"
          />
          <span
            *ngIf="!registerForm.get('birthDay').valid && registerForm.get('birthDay').touched"
            class="help-block"
          >
            <p id="invalid-prop">Selecteer een verjaardag!</p>
          </span>
          <small class="form-text text-muted d-flex justify-content-center">Verjaardag</small>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="street"
            placeholder="Straat"
            formControlName="street"
          />
          <span
            *ngIf="!registerForm.get('street').valid && registerForm.get('street').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een straat in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="houseNumber"
            placeholder="Huisnummer"
            formControlName="houseNumber"
          />
          <span
            *ngIf="!registerForm.get('houseNumber').valid && registerForm.get('houseNumber').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een huisnummer in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="postalCode"
            placeholder="Postcode"
            formControlName="postalCode"
          />
          <span
            *ngIf="!registerForm.get('postalCode').valid && registerForm.get('postalCode').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een geldige postcode in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="city"
            placeholder="Woonplaats"
            formControlName="city"
          />
          <span
            *ngIf="!registerForm.get('city').valid && registerForm.get('city').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een woonplaats in!</p>
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control text-box"
            id="country"
            placeholder="Land"
            formControlName="country"
          />
          <span
            *ngIf="!registerForm.get('country').valid && registerForm.get('country').touched"
            class="help-block"
          >
            <p id="invalid-prop">Vul een land in!</p>
          </span>
        </div>
        <div class="form-group justify-content-center d-flex">
          <button type="submit" class="btn button-submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
