<div class="container">
  <div class="row justify-content-center">
    <h2>Winkelwagen</h2>
    <hr class="my-1" />
  </div>
  <div class="row">
    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="border-0 bg-light">
                <div class="p-2 px-3">Product</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2">Prijs</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2">Aantal</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2">Sub totaal</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <th scope="row" class="border-0">
                <div class="p-2">
                  <img
                    src="{{ item.product.imageUrl }}"
                    alt=""
                    width="70"
                    class="img-fluid rounded shadow-sm"
                  />
                  <div class="ml-3 d-inline-block align-middle">
                    <h5 class="mb-0">
                      <a
                        routerLink="/products/{{ item.product['_id'] }}"
                        class="text-dark d-inline-block align-middle"
                        >{{ item.product.name }}</a
                      >
                    </h5>
                    <span class="text-muted font-weight-normal font-italic d-block">{{
                      item.product.category.name
                    }}</span>
                  </div>
                </div>
              </th>
              <td class="border-0 align-middle">
                <strong>€ {{ item.product.price }}</strong>
              </td>
              <td class="border-0 align-middle">
                <strong>{{ item.quantity }}</strong>
              </td>
              <td class="border-0 align-middle">
                <strong>€ {{ item.product.price * item.quantity }}</strong>
              </td>
              <td class="border-0 align-middle">
                <a (click)="remove(item.product.id)" class="removeProd text-dark"
                  ><i class="fa fa-trash"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td class="align-middle"><strong>Totaal</strong></td>
              <td class="align-middle"></td>
              <td class="align-middle"></td>
              <td>
                <strong>€ {{ total }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a (click)="addOrder()" class="btn btn-dark rounded-pill py-2 btn-block checkoutBtn">Bestellen</a>
    </div>
  </div>
</div>
