<div class="row">
  <div class="col-md-8">
    <img class="img-fluid" src="{{ this.product?.imageUrl }}" alt="{{ this.product?.name }}" />
  </div>
  <div class="col-md-4">
    <h2>{{ this.product?.name }}</h2>
    <hr class="my-3" />
    <h6>Beschrijving:</h6>
    <p>{{ this.product?.description }}</p>
    <h6>Prijs:</h6>
    <p>€ {{ this.product?.price }}</p>
    <button
      [routerLink]="['/cart', { id: this.product?.id }]"
      class="align-self-end btn btn-primary mat-button"
    >
      <i class="fa fa-shopping-cart"></i> Aan winkelwagen toevoegen
    </button>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      <div class="note">
        <p>Product beoordeling:</p>
      </div>
    </div>

    <form id="reviewForm" class="login-form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Aantal sterren:</label><br />
        <ngb-rating [readonly]="false" formControlName="rating"></ngb-rating>
        <span *ngIf="!reviewForm.get('rating').valid && reviewForm.get('rating').touched" class="help-block">
          <p id="invalid-prop">Geef een star rating!</p>
        </span>
      </div>
      <div class="form-group">
        <label>Titel:</label><br />
        <input
          type="text"
          id="title"
          formControlName="title"
          form="reviewForm"
          class="form-control text-box"
        />
        <span *ngIf="!reviewForm.get('title').valid && reviewForm.get('title').touched" class="help-block">
          <p id="invalid-prop">Vul een titel in!</p>
        </span>
      </div>
      <div class="form-group">
        <label>Beschrijving:</label><br />
        <textarea
          formControlName="content"
          cols="40"
          rows="5"
          form="reviewForm"
          class="form-control text-box"
        ></textarea>
        <span *ngIf="!reviewForm.get('title').valid && reviewForm.get('title').touched" class="help-block">
          <p id="invalid-prop">Vul een beschrijving in!</p>
        </span>
      </div>
      <div class="form-group justify-content-center d-flex">
        <button id="submitbutton" type="submit" class="btn button-submit">
          Voeg review toe
        </button>
      </div>
    </form>
    <div class="card-header">
      <div class="note">
        <p>Geplaatste reviews:</p>
      </div>
    </div>
    <div *ngIf="!reviews || reviews.length === 0">
      <p>
        Er zijn nog geen reviews geplaatst bij dit product!
      </p>
    </div>
    <div *ngFor="let prodRev of reviews">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
            <p class="text-secondary text-center">
              {{ prodRev.user.name.firstname }}
              {{ prodRev.user.name.lastname }}
            </p>
          </div>
          <div class="col-md-10">
            <p>
              <a class="float-left"
                ><strong>{{ prodRev.title }}</strong></a
              >
              <star-rating
                class="float-right"
                value="{{ prodRev.rating }}"
                checkedcolor="gold"
                uncheckedcolor="black"
                size="24px"
                readonly="true"
              >
              </star-rating>
            </p>
            <div class="clearfix"></div>
            <p>{{ prodRev.description }}</p>
          </div>
        </div>
        <small *ngIf="prodRev.postingDate" class="text-muted"
          >Geplaatst op {{ prodRev.postingDate | date: 'dd/MM/yyyy' }}</small
        >
        <hr />
      </div>
    </div>
  </div>
</div>
