<div class="starter-template">
  <h1 id="user-fullname" *ngIf="isLoggedIn$ | async">Hi {{ fullName }}!</h1>
  <p class="lead">
    In deze webshop kunnen GoPro cameras/accesoires/software gekocht worden!<br />
    Klik in de navigatiebalk op 'Producten' om alle producten te zien!
  </p>
</div>
