.navbar {
  background-color: #333333;
}
.logo {
  width: 125px;
  height: 43px;
}
.btn-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
// tslint:disable-next-line: max-line-length
.btn-link.focus,
.btn-link:focus,
.btn-link.hover,
.btn-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  box-shadow: none;
}

#dropdownMenu1 {
  cursor: pointer;
}

#main-nav a.nav-link {
  margin-left: 20px;
}
