<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a
    class="navbar-brand"
    routerLink="/"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img class="logo" src="assets/images/gopro_logo.png" />
  </a>
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <div id="main-nav" class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >GoPro</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/products"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Producten</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Over
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart" [routerLinkActive]="['active']"
        ><i class="fa fa-shopping-cart"></i> Winkelwagen</a
      >
    </li>
    <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
      <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']">Login</a>
    </li>
    <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
      <a class="nav-link" routerLink="/register" [routerLinkActive]="['active']">Registeren</a>
    </li>

    <li
      *ngIf="isLoggedIn$ | async as isLoggedIn"
      ngbDropdown
      class="nav-item dropdown"
      style="cursor: pointer;"
    >
      <a ngbDropdownToggle class="nav-link" id="profile"
        ><i class="fa fa-user" aria-hidden="true"></i> {{ fullName }}</a
      >
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="profile">
        <a class="dropdown-item" routerLink="/users/me" [routerLinkActive]="['active']">Mijn profiel</a>
        <a class="dropdown-item" routerLink="/order" [routerLinkActive]="['active']">Mijn bestellingen</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="" (click)="onLogout()">Uitloggen</a>
      </div>
    </li>
  </ul>
</nav>
