<div class="container">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-md-6 col-xs-12 div-style">
      <div class="note">
        <p>Verwijderen</p>
      </div>
      <br />
      <p class="d-flex justify-content-center">Weet u zeker dat u uw account wilt verwijderen?</p>
      <small class="d-flex justify-content-center"
        >Daarmee worden ook alle bestellingen en andere gegevens verwijdert!</small
      >
      <div class="form-group justify-content-center d-flex">
        <button (click)="onSubmit()" type="submit" class="btn button-submit">Verwijder</button>
      </div>
    </div>
  </div>
</div>
