<div class="container">
  <div class="row justify-content-center">
    <h2>Geplaatste bestellingen</h2>
    <div class="starter-template">
      <br />
      <br />
      <div *ngIf="!orders || orders.length === 0">
        <p class="lead">Er zijn nog geen bekende orders!</p>
      </div>
    </div>
    <div *ngFor="let order of orders" class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
      <div class="table-responsive">
        <h4>Order</h4>
        <h6>Orderstatus: {{ order.orderStatus }}</h6>
        <h6>Orderdatum: {{ order.orderDate | date: 'dd/MM/yyyy' }}</h6>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="border-0 bg-light">
                <div class="p-2 px-3">Product</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2">Prijs</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2">Aantal</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2">Sub totaal</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.products">
              <th scope="row" class="border-0">
                <div class="p-2">
                  <img
                    src="{{ item.product.imageUrl }}"
                    alt=""
                    width="70"
                    class="img-fluid rounded shadow-sm"
                  />
                  <div class="ml-3 d-inline-block align-middle">
                    <h5 class="mb-0">
                      {{ item.product.name }}
                    </h5>
                    <span class="text-muted font-weight-normal font-italic d-block">
                      {{ item.product.category.name }}</span
                    >
                  </div>
                </div>
              </th>
              <td class="border-0 align-middle">
                <strong>€ {{ item.product.price }}</strong>
              </td>
              <td class="border-0 align-middle">
                <strong>{{ item.quantity }}</strong>
              </td>
              <td class="border-0 align-middle">
                <strong>€ {{ item.product.price * item.quantity }}</strong>
              </td>
            </tr>
            <tr>
              <td class="align-middle"><strong>Totaal</strong></td>
              <td class="align-middle"></td>
              <td class="align-middle"></td>
              <td>
                <strong>€ {{ total }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
