<div class="container">
  <div class="row justify-content-center">
    <h2>Producten</h2>
    <hr class="my-1" />
  </div>
  <div class="row justify-content-center">
    <ul class="list-group list-group-vertical">
      <h5 class="text-center">Categorieën</h5>
      <ul class="list-group list-group-horizontal">
        <li *ngFor="let cat of categories" class="list-group-item">
          <a (click)="getProductsByCategory(cat.name, cat._id)">{{ cat.name }}</a>
        </li>
        <li id="removeFilter" class="list-group-item" *ngIf="filter === true" (click)="getProducts()">
          Verwijder filters
        </li>
      </ul>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="card-deck" *ngFor="let pArr of arrOfProducts">
      <div id="product-card" class="card mb-3" *ngFor="let product of pArr">
        <div class="hovereffect" id="prodImg">
          <img
            id="prodImg"
            class="card-img-top img-responsive"
            src="{{ product.imageUrl }}"
            alt="Card image cap"
          />
          <div class="overlay">
            <h2>{{ product.name }}</h2>
            <button class="info" routerLink="/products/{{ product['_id'] }}">Details</button>
            <div class="shine"></div>
          </div>
        </div>
        <div class="card-body">
          <small class="float-right">
            ({{ product.reviews.length }})
            <!--review(s)-->
          </small>
          <star-rating
            class="float-right"
            value="{{ product.rating }}"
            checkedcolor="gold"
            uncheckedcolor="black"
            size="16px"
            readonly="true"
          ></star-rating>
          <h5 class="card-title">{{ product.name }}</h5>
          <hr class="my-1" />
          <p class="card-text">{{ product.description }}</p>
        </div>
        <div class="card-footer">
          <a>€ {{ product.price }}</a>
          <a [routerLink]="['/cart', { id: product.id }]" class="btn btn-primary pull-right">Voeg toe</a>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
