<h1>{{ title }}</h1>

<div *ngIf="user">
  <table class="table table-borderless table-sm">
    <tbody>
      <tr>
        <td>Naam</td>
        <td>{{ user.name.firstname }} {{ user.name.lastname }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>Geboortedatum</td>
        <td>{{ user.birthday | date: 'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td>Straat</td>
        <td>{{ user.street }}</td>
      </tr>
      <tr>
        <td>Huisnummer</td>
        <td>{{ user.housenumber }}</td>
      </tr>
      <tr>
        <td>Postcode</td>
        <td>{{ user.postalcode }}</td>
      </tr>
      <tr>
        <td>Woonplaats</td>
        <td>{{ user.city }}</td>
      </tr>
      <tr>
        <td>Land</td>
        <td>{{ user.country }}</td>
      </tr>
      <button routerLink="/users/me/edit/{{ user['_id'] }}" class="my-4 btn btn-primary btn-block btnUser">
        Wijzig account
      </button>
      <button routerLink="/users/me/delete/{{ user['_id'] }}" class="my-4 btn btn-danger btn-block btnUser">
        Verwijder account
      </button>
    </tbody>
  </table>
</div>
<div *ngIf="!user">
  <p>Your user information was not found.</p>
  <p>Connect your component to the UserService and get your profile data from the server!.</p>
</div>
