<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>GoPro</h3>
    <p>
      Binnen deze applicatie kunnen verschillende GoPro's en bijbehorende accesoires besteld worden. Een GoPro
      is een kleine, compacte (sport)camera, waarmee spectaculaire beelden mee kunnen worden vastgelegd. Ook
      kan een product gereviewed worden, met een bepaalde rating.
    </p>
    <h3>Backend verantwoording</h3>
    <p>
      Voor deze applicatie worden verschillende backend keuzes gemaakt, denk aan database, api en het deployen
      van de applicatie.
    </p>
    <ul>
      <li>
        Database: gekozen is voor een NoSql database, welke beheert wordt in
        <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>. Aangezien er verschillende lessen
        NoSql gegeven zijn deze periode en tijdens die lessen ook gewerkt werd met MongoDB, is dit besluit tot
        stand gekomen. Mede omdat er ervaring is opgedaan en Angular goed samen gaat met MongoDB, met als
        tussenliggende factor de Api.
      </li>
      <li>
        Api: de api is opgebouwd in een <a href="https://nodejs.org/en/" target="_blank">Node.js</a> server,
        verschillende endpoints worden hierin afgehandeld en worden verwerkt in de NoSql database.
      </li>
      <li>
        Deployment: de applicatie wordt gedeployed, via verschillende pipelines, naar Heroku. Ook de api wordt
        gedeployed naar Heroku. De database wordt gehost in de cloud, via de cloudservice van MongoDB, genaamd
        <a href="https://www.mongodb.com/cloud/atlas" target="_blank">Atlas</a>.
      </li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/me.jpg" class="card-img-top rounded-circle border profile-pic" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">Coen Rijsdijk</h5>
        <p class="card-text">
          Studentnummer: 2149071
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Gebruiker</p>
    <ul>
      <li>id: number</li>
      <li>naam: string</li>
      <li>email: string</li>
      <li>wachtwoord: string</li>
      <li>verjaardag: date</li>
      <li>straat: string</li>
      <li>huisnummer: string</li>
      <li>postcode: string</li>
      <li>woonplaast: string</li>
      <li>land: string</li>
      <li>orders: orders[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Product</p>
    <ul>
      <li>id: number</li>
      <li>naam: string</li>
      <li>beschrijving: string</li>
      <li>prijs: number</li>
      <li>afbeelding: string</li>
      <li>gemiddelde rating: number</li>
      <li>review: review(id)</li>
      <li>categorie: categorie(id)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Review</p>
    <ul>
      <li>id: number</li>
      <li>titel: string</li>
      <li>rating: number(stars)</li>
      <li>beschrijving: string</li>
      <li>datum van posting: date</li>
      <li>gebruiker: gebruiker(id)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Order</p>
    <ul>
      <li>id: number</li>
      <li>orderStatus: string</li>
      <li>orderDatum: date</li>
      <li>gebruiker: gebruiker(id)</li>
      <li>producten: item[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Categorie</p>
    <ul>
      <li>id: number</li>
      <li>naam: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Item</p>
    <ul>
      <li>aantal: number</li>
      <li>product: product(id)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
