<div class="row">
  <div class="col">
    <h2>{{ title }}</h2>
    <p>Hier zou extra info kunnen staan.</p>
  </div>
</div>

<div class="row">
  <div class="col-8 show-outlet"></div>
  <div class="col-4 show-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
